body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;

}

body * {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 移除移动端点击高亮 */
}


input,
button,
textarea {
  color: inherit;
  font: inherit;
  border: none;

}

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

ol,
ul {
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0
}