html {
    scroll-behavior: smooth;
}

/* 设置版心 */
.container {
    width: 1240px;
    margin: 0 auto;
}

.header {
    height: 52px;
    background-color: #333333;
}

.header .container ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 52px;
    gap: 15px;
}

.header .container ul .phone span {
    display: inline-block;
}

.header .container ul .phone span:hover {
    transform: rotate(360deg);
    transition: all .6s ease-in-out;
}

.header ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.header ul li:first-child a {
    color: #5EB69C;
}

.header ul li a:hover {
    color: #5EB69C;
}

.header .container ul .sep {
    width: 1px;
    height: 14px;
    border: 1px solid #555;
}

.header .container ul li a span {
    margin-right: 5px;
}

.navContainer {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    /* position: sticky;
    top: 0;
    z-index: 9999; */
    background-color: #fff;
}

.nav .logo {
    width: 200px;
    height: 88px;
    background-color: pink;
}

.nav ul {
    display: flex;
}

.nav .logo {
    background: url(../images/logo.png) no-repeat center / 100% 100%;
}

.nav .logo h3 {
    text-indent: -9999px;
}

.nav ul li {
    margin-right: 48px;
    height: 25px;
}

.nav ul li a {
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
    color: #5EB69C;
}

.nav ul li:hover {
    border-bottom: 2px solid #5EB69C;
}

.nav input {
    width: 170px;
    height: 22px;
    border-bottom: 1px solid #F4F4F4
}

.nav input::placeholder {
    font-size: 16px;
    padding-left: 25px;
    color: #ccc;
}

.nav .cart a span {
    font-size: 24px;
}

.footer {
    height: 582px;
    background-color: #f5f5f5;
}

.footer .container .solgan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .container .solgan li {
    display: flex;
    align-items: center;
}

.footer .container .solgan p {
    background-image: url(../images/sprite.png);
    width: 58px;
    height: 58px;
    margin-right: 20px;
    background-position: 0 calc(var(--i) * -58px);
}

/* .two {
    background-position: 0 -58px;
}
.three {
    background-position: 0 -116px;
}
.four {
    background-position: 0 -174px;
} */
.footer .container .solgan li h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
}

.footer .container .top {
    padding: 70px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 60px;
}

.service {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.service .service-left {
    display: flex;
    gap: 84px;
}

.service .service-left dt {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
}

.service .service-left dd {
    margin-bottom: 8px;
}

.service .service-left dd a {
    font-size: 16px;
    color: #696969;

}

.service .service-right ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.copyright {
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #A1A1A1;
}

.copyright p:first-child {
    margin-bottom: 10px;
}

.nav .search {
    position: relative;
}

.nav .search .iconfont {
    position: absolute;
    left: 3px;
    top: 8px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #A1A1A1;
}

.nav .cart {
    position: relative;
}

.nav .cart .cart-num {
    position: absolute;
    left: 15px;
    top: -5px;
    font-size: 12px;
    color: #fff;
    background-color: #5EB69C;
    padding: 0 5px;
    border-radius: 50px;
}