@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1761303633149') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-icon_zuo:before {
  content: "\e64a";
}

.icon-sousuo1:before {
  content: "\e602";
}

.icon-kaitongfuwu:before {
  content: "\e61e";
}

.icon-qianshuxieyi:before {
  content: "\e61d";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-zaixianyanzi:before {
  content: "\e621";
}

.icon-shangchuantupian:before {
  content: "\e622";
}

.icon-dingwei:before {
  content: "\e623";
}

.icon-zaixianxuanfang:before {
  content: "\e624";
}

.icon-tianxuangouren:before {
  content: "\e625";
}

.icon-chuang:before {
  content: "\e626";
}

.icon-kuandai:before {
  content: "\e627";
}

