ul {
    text-decoration: none;
    list-style: none;
}

.topbar {
    height: 42px;
    line-height: 42px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}

.w {
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 30px;
}

.bg {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1230px;
    background: linear-gradient(189.16deg, rgb(57, 15, 199) 13.57%, rgb(40, 35, 77) 98.38%);
}

.ball1 {
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    top: 250px;
    left: 200px;
    background: linear-gradient(rgba(186, 117, 255, 0.49) 26.56%, rgb(57, 19, 184) 100%);
    animation: move 30s infinite alternate;
}

.ball2 {
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    top: 250px;
    left: 200px;
    background: linear-gradient(rgba(47, 184, 255, 0.42) 31.77%, rgb(158, 236, 217) 100%);
    animation: move 25s infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(-200px, 0px) rotate(-90deg);
        border-radius: 51% 49% 58% 42% / 34% 78% 22% 66%;
    }

    100% {
        transform: translate(400px, 100px) rotate(-120deg);
        border-radius: 22% 78% 73% 27% / 67% 31% 69% 33%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.header .logo {
    width: 44px;
    height: 44px;
}


.header .nav {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 26px;
}


.header .nav button,
.footer-con-left .item button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: 0;
    outline: 0;
    border-radius: 14px;
    transition: 0.3s ease-in-out;
}

.header .nav button img,
.footer-con-left .item button img {
    width: 24px;
    height: 24px;
}

.header .nav button p,
.footer-con-left .item button p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.header .nav button:hover,
.footer-con-left .item button:hover {
    box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px, rgba(0, 0, 0, 0.1) 0px 1px 5px, rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
    background: rgba(255, 255, 255, 0.2);
}

/* 当屏幕小于1024px的时候 导航栏仅显示6列  */
@media screen and (max-width: 1024px) {
    .header .nav {
        grid-template-columns: repeat(6, auto);
    }

    /* 隐藏第4列 */
    .header .nav a:nth-child(4) {
        display: none;
    }
}

/* 当屏幕尺寸小于900px的时候，只显示5列 */
@media screen and (max-width: 900px) {
    .header .nav {
        grid-template-columns: repeat(5, auto);
    }

    /* 隐藏第3列 */
    .header .nav a:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header .nav {
        grid-template-columns: repeat(4, auto);
    }

    /* 隐藏第2列 */
    .header .nav a:nth-child(2) {
        display: none;
    }
}

.header .nav-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(15, 14, 71, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(40px);
    border-radius: 50%;
}

.header .nav-mobile img {
    max-width: 100%;
}

@media screen and (max-width: 550px) {
    .header .nav {
        display: none;
    }

    /* 隐藏第2列 */
    .header .nav-mobile {
        display: flex;
    }

    .header {
        padding-top: 20px;
    }
}

.course {
    display: grid;
    grid-template-columns: 380px auto;
    align-items: end;
    margin-top: 60px;
    gap: 80px;
    color: rgba(255, 255, 255, 0.7);
}

.course .course-l .time {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

.course .course-l h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 20px 0;
    color: #fff;
}

.course .course-l p {
    font-size: 17px;
    line-height: 24px;
}

.course .course-r {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-bottom: 20px;
}

.course .course-r ul {
    display: flex;
    gap: 20px;
}

.course .course-r .icon ul li img {
    width: 44px;
    height: 44px;
}

.course .course-r .search {
    position: relative;
}

.course .course-r .search input {
    border: 0;
    outline: 0;
    width: 204px;
    height: 44px;
    padding: 10px 42px;
    border-radius: 30px;
    background: linear-gradient(rgba(99, 106, 150, 0.8) 0%, rgba(182, 186, 214, 0.6) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
    color: #fff;
}

.course .course-r .search img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}

/* 当屏幕小于1280px的时候，course显示为单列 */
@media screen and (max-width: 1280px) {
    .course {
        grid-template-columns: 1fr;
    }

    .course-l {
        max-width: 380px;
    }
}

@media screen and (max-width: 1024px) {
    .course-l {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .course .course-r {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
}

.course-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
    max-width: 1254px;
    margin: 40px auto 0px;
    padding: 0px 40px;
}

.course-card .item {
    height: 360px;
    border-radius: 20px;
    padding: 20px;
    /* 帮我把这个背景渐变色增加透明度 */
    background: linear-gradient(209.21deg, rgba(73, 79, 254, 0.4) 13.57%, rgba(15, 19, 36, 0.6) 98.38%);
    /* 修改此处：rgb() → rgba(..., 透明度) */

    cursor: pointer;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    backdrop-filter: blur(10px);
}

.course-card .item figure {
    position: relative;
    height: 150px;
    text-align: center;
}

.course-card .item figure>img {
    width: 200px;
    height: 150px;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.course-card .item figure .icon1,
.course-card .item figure .icon2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.course-card .item figure .icon2 {
    top: 42px;
}

.course-card .item h3 {
    color: #fff;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.course-card .item p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.course-card .item .star {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* 当鼠标hover到卡片上的时候，卡片放大 但是pic.png会缩小 */
.course-card .item:hover {
    box-shadow: rgba(15, 19, 36, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
    transform: scale(1.1);
}

.course-card .item:hover figure>img {
    transform: scale(0.9);
}



.story-card {
    position: relative;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.story-l {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.story-l-left {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.story-l-left .top {
    display: grid;
    grid-template-columns: 42px auto;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.story-card .top .name {
    font-weight: 500;
    font-size: 20px;
}

.story-card .top .info {
    width: fit-content;
    background-color: lightgray;
    border-radius: 10px;
    padding: 2px 5px
}

.story-card .middle {
    height: 240px;
    background: rgb(165, 206, 255);
    border-radius: 20px;
    margin: 20px 0;
    text-align: center;
}

.story-card .middle img {
    max-height: 240px;
}

.story-card .desc {
    font-size: 13px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);
}

.story-card button {
    background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.4) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
    border-radius: 30px;
    text-transform: uppercase;
    border: 0;
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
    padding: 8px 15px;
}

.story-r {
    display: grid;
    gap: 20px;
}

.story-r-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.story-r-top .info .top {
    display: grid;
    grid-template-columns: 42px auto;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.story-r-top {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.story-r .pic {
    height: 240px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
}

.story-r .pic img {
    max-height: 240px;
}

.toggle {
    display: none;
}

/* 当屏幕尺寸小于1250px的时候显示一列  */
@media screen and (max-width: 1250px) {
    .story-card {
        grid-template-columns: 1fr;
        max-width: 768px;
    }
}

@media screen and (max-width: 680px) {
    .story-l {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }

    .story-r-top .toggle {
        display: grid;
        grid-template-columns: 42px auto;
        align-items: center;
        align-content: center;
        gap: 20px;
    }

    .story-r-top .info .top {
        display: none;
    }

    .story-r-top {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}

.footer {
    position: relative;
    height: 800px;
    background: rgb(30, 19, 87);
    margin-top: 100px;
}

.footer-con {
    position: absolute;
    top: 200px;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    transform: translate(-50%, -50%);
    width: 660px;
    padding: 0 20px;
}

.footer-con-left {
    display: grid;
    grid-template-columns: 144px 144px;
    gap: 20px;
}

.footer .footer-con .footer-con-left .item {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;

}

.footer-con-right {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    padding-top: 60px;
}

/* 第三个p上下间距20px */
.footer-con-right p:nth-child(3) {
    margin: 20px 0;
    font-weight: 500;
}

.footer-con-right p:nth-child(2) {
    margin-top: 20px;

}

/* 屏幕宽度小于600的时候显示一列 */
@media screen and (max-width: 600px) {
    .footer-con {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 400px;
    }
}

@media screen and (min-width: 1280px) {
    .footer .con .bolang {
        transform: scale(1.5);
    }
}


.footer .con {
    overflow: hidden;
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    height: 600px;
}

.footer .con .bolang {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#wave2);
    background: linear-gradient(rgba(19, 12, 62, 0.8) 0%, rgb(30, 19, 87) 28%);
}

.footer svg {
    width: 100%;
}